body {
	font-family: 'Playfair Display', serif;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
	background-color: #EAE7E0;
}

#query {
	min-width: 250px;
	margin-bottom: 0.9em;
	min-height: 35px;
	text-align: center;
	font-size: 1.4em;
}

.glyphicon-info-sign {
	font-size: 1.4em;
}

.footer > p {
	font-size: 1em;
}

.footer, #article-list, .article {
	text-align: center;
}

.search {
	display: none;
}


.footer {
	background-color: #151E26;
	padding-top: 0.9em;
	margin-top: 2em;
	color: #F0E7D9;
}

a:link {
	text-decoration: none;
	color: #1C76B9;
}

a:visited {
	text-decoration: none;
	color: #1C76B9;
}

a:hover {
	text-decoration: none;
	color: #2CA5FF;
}

.jumbotron {
	background-image: url(../img/coffee-paper.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

.form-group {
	max-width: 300px;
	text-align: center;
}

@media only screen and (max-width: 767px) {
	#query {
		min-width: 200px;
		margin-bottom: 0.9em;
		min-height: 25px;
		text-align: center;
		font-size: 1em;
	}

	.form-group {
		max-width: 300px;
		text-align: left;
		margin-left: 20px;
	}

	.form-group > div {
		margin-left: 50px;
	}

	.jumbotron h1 {
		margin-left: 20px;
	}

}





